@tailwind base;
@tailwind components;

.btn {
    @apply text-xs;
    @apply font-bold; 
    @apply py-1; 
    @apply px-2; 
    @apply rounded;
}

.btn-secondary {
    @apply bg-secondary-900; 
    @apply text-white;
}
.btn-secondary:hover {
    @apply bg-secondary-700;
}

.contact-icon {
    @apply fill-current; 
    @apply w-4;
    @apply h-4;
    @apply mr-4;
    @apply text-secondary-900;
}

.contact-link {
    @apply text-sm;
}

.contact-link:hover {
    @apply text-secondary-500;
}

.section-header {
    color: black;
    @apply text-xl; 
    @apply border-l-4; 
    @apply pl-3; 
    @apply font-bold;
}

a:hover {
    color:grey;
} 

.item-header {
    @apply text-xl; 
    @apply font-bold; 
    @apply tracking-tight; 
    @apply leading-relaxed; 
    
}

.item-sub {
   
    @apply tracking-wide; 
    @apply text-sm;
}

.tag {
    background-color: rgba(0, 0, 0, var(--bg-opacity)) !important;
    @apply px-2; 
    @apply py-1; 
    @apply mr-2; 
    @apply mb-2; 
    @apply text-sm; 
    @apply text-white; 
    @apply inline-block; 
    @apply capitalize; 
    @apply font-light; 
    @apply rounded;
}

.footer-social-link {
    color: black;
    @apply mr-4;
}

.footer-social-link:hover {
    color: grey;
}

.footer-social-icon {
    @apply h-6; 
    @apply fill-current;
}

.bg-clr
{
    background-color: rgba(0, 0, 0, var(--bg-opacity)) !important;
}

@tailwind utilities;
